/* Cusdetails.css */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa; /* Light background color */
  margin: 0;
  padding: 0;
}

.customer-details-container {
  max-width: 1200px; /* Max width for the container */
  margin: 20px auto; /* Center container */
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h2 {
  text-align: center;
  color: #031f42; /* Dark color for the heading */
  margin-bottom: 20px;
}

.search-generate {
  display: flex;
  justify-content: space-between; /* Space between button and search bar */
  align-items: center;
  margin-bottom: 20px; /* Space below the search section */
}

.generate-report {
  background-color: #0088a9; /* Button color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 15px; /* Padding for button */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s ease; /* Transition for hover effect */
}

.generate-report:hover {
  background-color: #006f85; /* Darker shade on hover */
}

.search-bar {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

.customer-table {
  width: 100%; /* Full width of the table */
  border-collapse: collapse; /* Remove space between cells */
  margin-top: 20px; /* Space above table */
}

.customer-table th, .customer-table td {
  padding: 12px; /* Padding for cells */
  text-align: left; /* Left align text */
  border: 1px solid #ddd; /* Light border for cells */
}

.customer-table th {
  background-color: #031f42; /* Header background color */
  color: #ffffff; /* Header text color */
}

.customer-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Zebra striping effect */
}

.customer-table tr:hover {
  background-color: #e0e0e0; /* Highlight row on hover */
}

.view-button, .update-button, .delete-button {
  background-color: #0088a9; /* Button color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 12px; /* Padding for buttons */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s ease; /* Transition for hover effect */
}

.view-button:hover, .response-button:hover,
.update-button:hover, .delete-button:hover {
  background-color: #006f85; /* Darker shade on hover */
}

.update-button {
  background-color: #f0ad4e; /* Update button color */
  margin-right: 40px;
}

.update-button:hover {
  background-color: #ec971f; /* Darker shade on hover */
}

.delete-button {
  background-color: #ff0800; /* Delete button color */
  
}

.delete-button:hover {
  background-color: #ff0800; /* Darker shade on hover */
  
}
