a {
    color: rgb(175, 175, 179);
    text-decoration: none;
}
hr {
    color: white !important;
    width: 100%;
    margin: 0.5rem 0; 
}

.sb_footer-copyright p {
    font-size: 13px;
    line-height: 14px; 
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    margin: 0.5rem 0; 
}

.footer {
    background-color: #031f42;
    padding: 0.3rem 0; 
}

.sb_footer {
    display: flex;
    flex-direction: column;
}


.sb_footer-below {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.FooterLinks {
    display: flex;
    gap: 1rem; 
}



