@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hed{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#031f42;
    display: flex;
} 

.cta {
    position: absolute;
    right: 2%;
    top: 6%;
    transform: translateY(-50%);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10% ;
}
.com_name{
    cursor: pointer;
    color: #edf0f1;
    margin-left: -120px;
    padding-bottom: -10px;
}
nav{
    margin-left: 80px;
    right: 80px;
    justify-content: space-between;
    
}
.nav_links{
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat",sans-serif;
    font-weight:500;
    font-size: 16px;
    color:#edf0f1;
}
    

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}

.cta:hover{
    background-color: rgba(30, 51, 154, 0.8); 
}
.search-form{
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-10%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    margin-left: 50px;
}

.in{
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #8c52ff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-form:hover{
    width: 300px;
    cursor: pointer;
}

.search-form:hover input{
    display: block;
}

.search-form:hover .fa{
    background: #8c52ff;
    color: white;
}